<nz-tabset nzTabPosition="top">
  <nz-tab>
    <a *nzTabLink nz-tab-link [routerLink]="['/stage/first']" routerLinkActive="active">
      First stage
    </a>
  </nz-tab>
  <nz-tab>
    <a *nzTabLink nz-tab-link [routerLink]="['/stage/second']" routerLinkActive="active">
      Second stage
    </a>
  </nz-tab>
  <nz-tab>
    <a *nzTabLink nz-tab-link [routerLink]="['/stage/third']" routerLinkActive="active">
      Third stage
    </a>
  </nz-tab>
  <nz-tab nzTitle="MVP" nzDisabled></nz-tab>
</nz-tabset>
<router-outlet></router-outlet>
