<amdg-grid
  *ngIf="showGrid"
  [headings]="headings"
  [url]="url"
  [selection]="true"
  [columnControl]="true"
  (requestBodyEmit)="requestBodyChanged($event)"
  (responseEmit)="responseReceived($event)"
  (selectionEmit)="selectionChanged($event)"
  (filtersChangedEmit)="filtersChanged($event)"
  (sortChangedEmit)="sortChanged($event)"
  (buttonClickEmit)="buttonClick($event)"
  (columnPreferencesChangedEmit)="headingsConfigChanged($event)"
  (columnPreferencesResetEmit)="resetColumnPreferencesClick()">
</amdg-grid>
